In [15]:
!pip install textblob
!pip install tweepy

Requirement already satisfied: textblob in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from textblob) (3.6.2)
Requirement already satisfied: regex in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: click in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.51.0)
Requirement already satisfied: tweepy in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /Users/dariarousset/miniforge3/lib/python3.9/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [16]:
from textblob import TextBlob
import sys
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import nltk
import re
import string

from wordcloud import WordCloud, STOPWORDS
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.stem import SnowballStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
consumerKey = "XXX"
consumerSecret = "XXX"
accessToken = "XXX"
accessTokenSecret = "XXX"

auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(auth)

In [18]:
tweets = tweepy.Cursor(api.search, q="DroitAuBut").items(500)
tweets_2 = tweepy.Cursor(api.search, q="olympiquedemarseille").items(500)
tweets_3 = tweepy.Cursor(api.search, q="teamom").items(500)

In [19]:
tweet_data = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweet'])
tweet_data_2 = pd.DataFrame(data=[tweet.text for tweet in tweets_2], columns=['Tweet'])
tweet_data_3 = pd.DataFrame(data=[tweet.text for tweet in tweets_3], columns=['Tweet'])

In [20]:
frames = [tweet_data, tweet_data_2, tweet_data_3]
tweet_data_1106 = pd.concat(frames)

In [21]:
tweet_data_1106.shape

(1054, 1)

In [24]:
tweet_data_3.shape

(500, 1)

In [11]:
#pd.set_option('display.max_colwidth', -1)

In [26]:
print(tweet_data_1106.iloc[[97]])

                              Tweet
97  @droitaubut_13 @GRINTA0107 ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­

In [27]:
def cleanUpTweet(text):
    # Remove mentions
    text = re.sub(r'@[A-Za-z0-9_]+', '', text)
    # Remove hashtags
    text = re.sub(r'#', '', text)
    # Remove retweets:
    text = re.sub(r'RT : ', '', text)
    # Remove urls
    text = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', text)
    return text

In [28]:
tweet_data_1106['Tweet'] = tweet_data_1106['Tweet'].apply(cleanUpTweet)

In [29]:
tweet_data_1106

                                                 Tweet
0
1
2                            Â«Â Les dents de la marreÂ Â»
3                                 Les dents de la mer
4    En fait, on a recrutÃ© Ntcham et Nagatomo pour ...
..                                                 ...
495  Mercato : l'OM piste un second joueur de VÃ©lez...
496  ğŸ–‹Nouveau visuel mettant en avant Luis  Henriqu...
497  Mercato : le gardien du Dynamo Kiev Ã  l'OM ? T...
498  Steve Mandanda avec les Bleus, Duje Caleta Car...
499  OMdesign\nRtt&amp;Fav app\n \n\nBonne jrnÃ©e Ã  ...

[1054 rows x 1 columns]

In [30]:
tweet_data_1106.head(30)

                                                Tweet
0
1
2                           Â«Â Les dents de la marreÂ Â»
3                                Les dents de la mer
4   En fait, on a recrutÃ© Ntcham et Nagatomo pour ...
5                                     Dimanche frÃ©rot
6                                                ğŸ˜‚ğŸ˜‚ğŸ˜‚
7                           Elle veux ta merguez ğŸ˜­ğŸ˜­ğŸ˜­
8                                  Ce sera le dessert
9                    Elle va venir te voir bientÃ´t ğŸ˜‚ğŸ˜‚
10                                                T.V
11
12                         Tu connais personne arrete
13
14       Je vois que Ã§a va finir au lit entre vous...
15
16                                         Et oui ğŸ¤£ğŸ¤£ğŸ¤£
17                                                ğŸ¤£ğŸ¤£ğŸ¤£
18                                               ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­
19
20                                     ğŸ˜­ğŸ˜­ğŸ˜­clochardğŸ˜‚ğŸ˜‚ğŸ˜‚
21                                            Oui oui
22                                               ğŸ˜±ğŸ˜±ğŸ˜±ğŸ˜±
23       N'importe quoi , je bois pas H24 mais h72...
24                                Lui y'a personne ğŸ˜‚ğŸ˜‚
25                                   Ah bon oÃ¹ Ã§a ???
26                         J'ai confondu avec dedou ğŸ˜‚
27         Ah car toi tu est tous seul ğŸ¤·ğŸ»â€â™€ï¸ğŸ¤¦ğŸ»â€â™€ï¸ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£
28       J'ai des amies dans le 06 et de la famille ğŸ˜‚
29                                               ğŸ˜‚ğŸ˜‚ğŸ˜‚ğŸ˜‚

In [17]:
#tweet_data.to_csv("1006data.csv", sep='\t')

In [31]:
tweet_data_1106["Tweet"].isna().sum()

0

In [32]:
tweet_data_1106.drop_duplicates(inplace=True)

In [34]:
tweet_data_1106.head(15)

                                                Tweet
0
2                           Â«Â Les dents de la marreÂ Â»
3                                Les dents de la mer
4   En fait, on a recrutÃ© Ntcham et Nagatomo pour ...
5                                     Dimanche frÃ©rot
6                                                ğŸ˜‚ğŸ˜‚ğŸ˜‚
7                           Elle veux ta merguez ğŸ˜­ğŸ˜­ğŸ˜­
8                                  Ce sera le dessert
9                    Elle va venir te voir bientÃ´t ğŸ˜‚ğŸ˜‚
10                                                T.V
12                         Tu connais personne arrete
14       Je vois que Ã§a va finir au lit entre vous...
16                                         Et oui ğŸ¤£ğŸ¤£ğŸ¤£
17                                                ğŸ¤£ğŸ¤£ğŸ¤£
18                                               ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­

In [35]:
tweet_data_1106.shape

(596, 1)

In [36]:
tweet_data_1106['Tweet'][0]

0
0    OlympiquedeMarseille âš½ï¸ se quiere llevar a Kic...
0    McCourt courtise les Marseillais OM TeamOM Mer...
Name: Tweet, dtype: object

In [37]:
tweet_data_1106.to_csv("1106data.csv")

In [38]:
data = pd.read_csv("1006data.csv")
data_2 = pd.read_csv("1106data.csv")

In [39]:
frames_2 = [data, data_2]

In [40]:
tweet_data_test = pd.concat(frames_2)

In [41]:
tweet_data_test.shape

(1122, 2)

In [42]:
tweet_data_test.drop_duplicates(inplace=True)

In [47]:
tweet_data_test.to_csv("testdata.csv")

In [48]:
test = pd.read_csv("testdata.csv")

In [49]:
test.head()

   Unnamed: 0  Unnamed: 0.1                                              Tweet
0           0             0    Et oui il a raison... Comme bcq d ancien... ...
1           1             1                                                 â€¦
2           2            22                                                 â€¦
3           3            32  Miroslav Klose : "Le football que je jouais da...
4           4            33  PremiÃ¨re intervention de Raymond Domenech qui ...

In [50]:
test.columns.str.match("Unnamed")

array([ True,  True, False])

In [51]:
test = test.loc[:,~test.columns.str.match("Unnamed")]

In [52]:
test.head()

                                               Tweet
0    Et oui il a raison... Comme bcq d ancien... ...
1                                                 â€¦
2                                                 â€¦
3  Miroslav Klose : "Le football que je jouais da...
4  PremiÃ¨re intervention de Raymond Domenech qui ...

In [53]:
test.to_csv("test_twitter.csv")

In [6]:
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.tokenize import TweetTokenizer
stop = set(stopwords.words('french'))

In [7]:
import spacy
nlp = spacy.load('fr_core_news_md')

In [8]:
def clean_text(text):
    # lower text
    text = text.lower()
    # remove puncutation
    for punctuation in string.punctuation.replace('#',''):
        text = text.replace(punctuation, ' ')
    # remove words that contain numbers
    text = ''.join(letter for letter in text if not letter.isdigit())
    #tokenization + remove stop words
    doc=nlp(text)
    lemmatized= [token.lemma_ for token in doc]
    # join all
    text = " ".join(lemmatized)
    return text

In [9]:
data["Clean_tweet"] = data["Tweet"].apply(clean_text)

In [10]:
data.head()

,Unnamed: 0,Tweet,Clean_tweet
0,0,Et oui il a raison... Comme bcq d ancien... ...,et oui il avoir raison comme bcq d anci...
1,1,â€¦,â€¦
2,22,â€¦,â€¦
3,32,"Miroslav Klose : ""Le football que je jouais da...",miroslav klos le football que je jouer dan...
4,33,PremiÃ¨re intervention de Raymond Domenech qui ...,premier intervention de raymond domenech qui p...

In [11]:
data.columns.str.match("Unnamed")

array([ True, False, False])

In [12]:
data = data.loc[:,~data.columns.str.match("Unnamed")]